{% extends 'templates/master.html' %}
{% block title %}
    Profile
{% endblock %}
{% block profile %}
    <div class="fh5co-bio ">
        <figure>
            <img src="{{ post.article_author.profile_picture.url }}" alt="Free HTML5 Bootstrap Template"
                 class="img-responsive">
        </figure>
        <h3 class="heading">About Me</h3>
        <h2>{{ post.article_author.name.get_full_name }}</h2>
        <h4>{{ post.article_author.name.email }}</h4>
        <p>{{ post.article_author.details }}</p>

        <ul class="fh5co-social">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
    </div>

{% endblock %}

{% block content %}
    <div class="container-fluid">

    <div class="row fh5co-post-entry single-entry">
        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
            <figure>
                <img src="{{ post.image.url }}" alt="">
            </figure>
            <span class="fh5co-meta"><a
                    href="{% url 'topic' name=post.category.name %}">{{ post.category.name }}</a></span>
            <h2>{{ post.title }}</h2>
            <span class="fh5co-meta fh5co-date">{{ post.posted_on }}</span>
            <p>{{ post.body }}</p>

        </article>
        <article>


            <div class="row">
                {% for r in related %}
                    <div class="col-md-3">
                        <figure>
                            <a href="{% url 'single_post' id=r.id %}"> <img src="{{ r.image.url }}"
                                                                            alt="Image not found"
                                                                            class="img-responsive">
                            </a>
                            <a href="{% url 'single_post' id=r.id %}"><h4>{{ r.title }}</h4>
                            </a>
                        </figure>

                    </div>

                {% endfor %}

            </div>
            <h3 class="well">Comments</h3>
            <div class="single_post_comment">
                {% for comment in comment %}
                    <div class="single_comment">
                        <p>{{ comment.post_comment }}</p>
                        <h4>
                            <small>Commented by -</small>
                            {{ comment.name }}
                        </h4>
                    </div>
                {% empty %}
                    <h3>Sorry, no comments found!</h3>
                {% endfor %}

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Comment</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-info">Comment</button>
                    </form>
                </div>
            </div>

    </div>
    {% if post.id > first.id %}
        <a href="{% url 'single_post' id=post.id|add:'-1' %}" class="fh5co-post-prev"><span><i
                class="icon-chevron-left"></i> Prev</span></a>
    {% endif %}
    {% if post.id < last.id %}
        <a href="{% url 'single_post' id=post.id|add:'1' %}" class="fh5co-post-next"><span>Next <i
                class="icon-chevron-right"></i></span></a>
    {% endif %}
{% endblock %}
